# Build artifacts
/build/
*.iso

# macOS
.DS_Store
._*

# Python
__pycache__/
*.pyc

# Editor/IDE
.vscode/
.idea/
*.swp
*~

# claude
.claude/
CLAUDE.md
CONVENTIONS.md

# Debug/QEMU logs
debug/

# docs
MILESTONE.md
docs/
third_party/musl/
third_party/musl-install/
third_party/busybox/
